.products{
    width: 100%;
    @include dfc();
    gap: 60px;
    margin: 63px 0;
    &__subtitle{
        width: 100%;
        @include df(start, center);
        gap: 10px;
        p{
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: $bg-py;
        }
    }
    &__subtitle::before{
        content: "";
        width: 20px;
        height: 40px;
        background: $bg-py;
    }
    &__wrapper{
        width: 100%;
        @include df();
        gap: 30px;
        flex-wrap: wrap;
    }
    &__card{
        width: calc(25% - 22.5px);
        height: 332px;
        border: 1px solid $bg-border;
        @include dfc(start, start);
        gap: 16px;
    }
    &__img{
        width: 100%;
        height: 250px;
        @include df();
        gap: 16px;
        img{
            width: 115px;
            height: 180px;
            background: $bg-inp;
        }
    }
    &__card__content{
        width: 100%;
        @include dfc(start, start);
        gap: 8px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding: 0 10px;
        span{
            color: $bg-dark;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
        p{
            color: $bg-py;
        }
    }
    &__btn{
        width: 100%;
        @include df();
        button{
           padding: 16px 48px; 
           color: $bg-light;
           background: $bg-py;
           border: none;
           font-size: 16px;
           font-weight: 500;
           line-height: 24px;
        }
    }
}

@media (max-width: 850px){
    .products__card{
        width: calc(33.33% - 20px);
    }
}
@media (max-width: 700px){
    .products__wrapper{
        gap: 20px;
    }
    .products__card{
        width: calc(50% - 10px);
    }
}
@media (max-width: 500px){
    .products__wrapper{
        gap: 30px;
    }
    .products__card{
        width: 100%;
    }
}








